<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloAmountStatisticsMapper">
    
    <resultMap type="JaloAmountStatistics" id="JaloAmountStatisticsResult">
        <result property="id"    column="id"    />
        <result property="prepayments"    column="prepayments"    />
        <result property="inStock"    column="in_stock"    />
        <result property="shippedUnsettledAmount"    column="shipped_unsettled_amount"    />
        <result property="totalAvailableFunds"    column="total_available_funds"    />
        <result property="totalMaterialsInTransit"    column="total_materials_in_transit"    />
        <result property="ordersNumber"    column="orders_number"    />
    </resultMap>

    <sql id="selectJaloAmountStatisticsVo">
        select id, prepayments, in_stock, shipped_unsettled_amount, total_available_funds, total_materials_in_transit, orders_number from jalo_amount_statistics
    </sql>

    <select id="selectJaloAmountStatisticsList" parameterType="JaloAmountStatistics" resultMap="JaloAmountStatisticsResult">
        <include refid="selectJaloAmountStatisticsVo"/>
        <where>  
            <if test="prepayments != null "> and prepayments = #{prepayments}</if>
            <if test="inStock != null "> and in_stock = #{inStock}</if>
            <if test="shippedUnsettledAmount != null "> and shipped_unsettled_amount = #{shippedUnsettledAmount}</if>
            <if test="totalAvailableFunds != null "> and total_available_funds = #{totalAvailableFunds}</if>
            <if test="totalMaterialsInTransit != null "> and total_materials_in_transit = #{totalMaterialsInTransit}</if>
            <if test="ordersNumber != null "> and orders_number = #{ordersNumber}</if>
        </where>
    </select>
    
    <select id="selectJaloAmountStatisticsById" parameterType="Long" resultMap="JaloAmountStatisticsResult">
        <include refid="selectJaloAmountStatisticsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloAmountStatistics" parameterType="JaloAmountStatistics" useGeneratedKeys="true" keyProperty="id">
        insert into jalo_amount_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prepayments != null">prepayments,</if>
            <if test="inStock != null">in_stock,</if>
            <if test="shippedUnsettledAmount != null">shipped_unsettled_amount,</if>
            <if test="totalAvailableFunds != null">total_available_funds,</if>
            <if test="totalMaterialsInTransit != null">total_materials_in_transit,</if>
            <if test="ordersNumber != null">orders_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prepayments != null">#{prepayments},</if>
            <if test="inStock != null">#{inStock},</if>
            <if test="shippedUnsettledAmount != null">#{shippedUnsettledAmount},</if>
            <if test="totalAvailableFunds != null">#{totalAvailableFunds},</if>
            <if test="totalMaterialsInTransit != null">#{totalMaterialsInTransit},</if>
            <if test="ordersNumber != null">#{ordersNumber},</if>
         </trim>
    </insert>

    <update id="updateJaloAmountStatistics" parameterType="JaloAmountStatistics">
        update jalo_amount_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="prepayments != null">prepayments = #{prepayments},</if>
            <if test="inStock != null">in_stock = #{inStock},</if>
            <if test="shippedUnsettledAmount != null">shipped_unsettled_amount = #{shippedUnsettledAmount},</if>
            <if test="totalAvailableFunds != null">total_available_funds = #{totalAvailableFunds},</if>
            <if test="totalMaterialsInTransit != null">total_materials_in_transit = #{totalMaterialsInTransit},</if>
            <if test="ordersNumber != null">orders_number = #{ordersNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloAmountStatisticsById" parameterType="Long">
        delete from jalo_amount_statistics where id = #{id}
    </delete>

    <delete id="deleteJaloAmountStatisticsByIds" parameterType="String">
        delete from jalo_amount_statistics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>