<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloInventoryDetailMapper">
    
    <resultMap type="JaloInventoryDetail" id="JaloInventoryDetailResult">
        <result property="id"    column="id"    />
        <result property="product"    column="product"    />
        <result property="saleableInventoryAmount"    column="saleable_inventory_amount"    />
        <result property="unsaleableInventoryAmount"    column="unsaleable_inventory_amount"    />
        <result property="inventoryAmount"    column="inventory_amount"    />
        <result property="ordernum"    column="orderNum"    />
        <result property="jaloInventorySumId"    column="jalo_inventory_sum_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJaloInventoryDetailVo">
        select jalo_inventory_sum_id,id, product, saleable_inventory_amount, unsaleable_inventory_amount, inventory_amount, orderNum, create_time, update_time from jalo_inventory_detail
    </sql>

    <select id="selectJaloInventoryDetailListByInventorySumId" parameterType="String" resultMap="JaloInventoryDetailResult">
        <include refid="selectJaloInventoryDetailVo"/>
        where jalo_inventory_sum_id = #{jaloInventorySumId}

    </select>

    <select id="selectJaloInventoryDetailList" parameterType="JaloInventoryDetail" resultMap="JaloInventoryDetailResult">
        <include refid="selectJaloInventoryDetailVo"/>
        <where>
            <if test="product != null  and product != ''"> and product = #{product}</if>
            <if test="saleableInventoryAmount != null "> and saleable_inventory_amount = #{saleableInventoryAmount}</if>
            <if test="unsaleableInventoryAmount != null "> and unsaleable_inventory_amount = #{unsaleableInventoryAmount}</if>
            <if test="inventoryAmount != null "> and inventory_amount = #{inventoryAmount}</if>
            <if test="ordernum != null "> and orderNum = #{ordernum}</if>
        </where>
    </select>
    
    <select id="selectJaloInventoryDetailById" parameterType="Long" resultMap="JaloInventoryDetailResult">
        <include refid="selectJaloInventoryDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloInventoryDetail" parameterType="JaloInventoryDetail" useGeneratedKeys="true" keyProperty="id">
        insert into jalo_inventory_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product != null">product,</if>
            <if test="saleableInventoryAmount != null">saleable_inventory_amount,</if>
            <if test="unsaleableInventoryAmount != null">unsaleable_inventory_amount,</if>
            <if test="inventoryAmount != null">inventory_amount,</if>
            <if test="ordernum != null">orderNum,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product != null">#{product},</if>
            <if test="saleableInventoryAmount != null">#{saleableInventoryAmount},</if>
            <if test="unsaleableInventoryAmount != null">#{unsaleableInventoryAmount},</if>
            <if test="inventoryAmount != null">#{inventoryAmount},</if>
            <if test="ordernum != null">#{ordernum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJaloInventoryDetail" parameterType="JaloInventoryDetail">
        update jalo_inventory_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="product != null">product = #{product},</if>
            <if test="saleableInventoryAmount != null">saleable_inventory_amount = #{saleableInventoryAmount},</if>
            <if test="unsaleableInventoryAmount != null">unsaleable_inventory_amount = #{unsaleableInventoryAmount},</if>
            <if test="inventoryAmount != null">inventory_amount = #{inventoryAmount},</if>
            <if test="ordernum != null">orderNum = #{ordernum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloInventoryDetailById" parameterType="Long">
        delete from jalo_inventory_detail where id = #{id}
    </delete>

    <delete id="deleteJaloInventoryDetailByInventorySumId" parameterType="String">
        delete from jalo_inventory_detail where jalo_inventory_sum_id = #{jaloInventorySumId}
    </delete>


    <delete id="deleteJaloInventoryDetailByIds" parameterType="String">
        delete from jalo_inventory_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>