<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloLoanUsageMapper">
    
    <resultMap type="JaloLoanUsage" id="JaloLoanUsageResult">
        <result property="id"    column="id"    />
        <result property="loanCreditAmount"    column="loan_credit_amount"    />
        <result property="loanCreditBalance"    column="loan_credit_balance"    />
        <result property="loanCreditRemaining"    column="loan_credit_remaining"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJaloLoanUsageVo">
        select id, loan_credit_amount, loan_credit_balance, loan_credit_remaining, create_time, update_time from jalo_loan_usage ORDER BY create_time DESC
    </sql>

    <select id="selectJaloLoanUsageList" parameterType="JaloLoanUsage" resultMap="JaloLoanUsageResult">
        <include refid="selectJaloLoanUsageVo"/>
        <where>  
            <if test="loanCreditAmount != null "> and loan_credit_amount = #{loanCreditAmount}</if>
            <if test="loanCreditBalance != null "> and loan_credit_balance = #{loanCreditBalance}</if>
            <if test="loanCreditRemaining != null "> and loan_credit_remaining = #{loanCreditRemaining}</if>
        </where>
    </select>
    
    <select id="selectJaloLoanUsageById" parameterType="Long" resultMap="JaloLoanUsageResult">
        <include refid="selectJaloLoanUsageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloLoanUsage" parameterType="JaloLoanUsage" useGeneratedKeys="true" keyProperty="id">
        insert into jalo_loan_usage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loanCreditAmount != null">loan_credit_amount,</if>
            <if test="loanCreditBalance != null">loan_credit_balance,</if>
            <if test="loanCreditRemaining != null">loan_credit_remaining,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loanCreditAmount != null">#{loanCreditAmount},</if>
            <if test="loanCreditBalance != null">#{loanCreditBalance},</if>
            <if test="loanCreditRemaining != null">#{loanCreditRemaining},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJaloLoanUsage" parameterType="JaloLoanUsage">
        update jalo_loan_usage
        <trim prefix="SET" suffixOverrides=",">
            <if test="loanCreditAmount != null">loan_credit_amount = #{loanCreditAmount},</if>
            <if test="loanCreditBalance != null">loan_credit_balance = #{loanCreditBalance},</if>
            <if test="loanCreditRemaining != null">loan_credit_remaining = #{loanCreditRemaining},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloLoanUsageById" parameterType="Long">
        delete from jalo_loan_usage where id = #{id}
    </delete>

    <delete id="deleteJaloLoanUsageByIds" parameterType="String">
        delete from jalo_loan_usage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>