<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloAvailableFundsMapper">
    
    <resultMap type="JaloAvailableFunds" id="JaloAvailableFundsResult">
        <result property="id"    column="id"    />
        <result property="merchantsBank"    column="merchants_bank"    />
        <result property="pufaBank"    column="pufa_bank"    />
        <result property="icbcBank"    column="icbc_bank"    />
        <result property="youZan"    column="you_zan"    />
        <result property="alipay"    column="alipay"    />
        <result property="jingdong"    column="jingdong"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJaloAvailableFundsVo">
        select id, merchants_bank, pufa_bank, icbc_bank, you_zan, alipay, jingdong, create_time, update_time, total_amount from jalo_available_funds ORDER BY create_time DESC
    </sql>

    <select id="selectJaloAvailableFundsList" parameterType="JaloAvailableFunds" resultMap="JaloAvailableFundsResult">
        <include refid="selectJaloAvailableFundsVo"/>
        <where>  
            <if test="merchantsBank != null "> and merchants_bank = #{merchantsBank}</if>
            <if test="pufaBank != null "> and pufa_bank = #{pufaBank}</if>
            <if test="icbcBank != null "> and icbc_bank = #{icbcBank}</if>
            <if test="youZan != null "> and you_zan = #{youZan}</if>
            <if test="alipay != null "> and alipay = #{alipay}</if>
            <if test="jingdong != null "> and jingdong = #{jingdong}</if>
        </where>
    </select>
    
    <select id="selectJaloAvailableFundsById" parameterType="Long" resultMap="JaloAvailableFundsResult">
        <include refid="selectJaloAvailableFundsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloAvailableFunds" parameterType="JaloAvailableFunds" useGeneratedKeys="true" keyProperty="id">
        insert into jalo_available_funds
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantsBank != null">merchants_bank,</if>
            <if test="pufaBank != null">pufa_bank,</if>
            <if test="icbcBank != null">icbc_bank,</if>
            <if test="youZan != null">you_zan,</if>
            <if test="alipay != null">alipay,</if>
            <if test="jingdong != null">jingdong,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="totalAmount != null">total_amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantsBank != null">#{merchantsBank},</if>
            <if test="pufaBank != null">#{pufaBank},</if>
            <if test="icbcBank != null">#{icbcBank},</if>
            <if test="youZan != null">#{youZan},</if>
            <if test="alipay != null">#{alipay},</if>
            <if test="jingdong != null">#{jingdong},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
         </trim>
    </insert>

    <update id="updateJaloAvailableFunds" parameterType="JaloAvailableFunds">
        update jalo_available_funds
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantsBank != null">merchants_bank = #{merchantsBank},</if>
            <if test="pufaBank != null">pufa_bank = #{pufaBank},</if>
            <if test="icbcBank != null">icbc_bank = #{icbcBank},</if>
            <if test="youZan != null">you_zan = #{youZan},</if>
            <if test="alipay != null">alipay = #{alipay},</if>
            <if test="jingdong != null">jingdong = #{jingdong},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloAvailableFundsById" parameterType="Long">
        delete from jalo_available_funds where id = #{id}
    </delete>

    <delete id="deleteJaloAvailableFundsByIds" parameterType="String">
        delete from jalo_available_funds where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>