<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloLoanUsageTableMapper">
    
    <resultMap type="JaloLoanUsageTable" id="JaloLoanUsageTableResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="loanCreditAmount"    column="loan_credit_amount"    />
        <result property="loanCreditBalance"    column="loan_credit_balance"    />
    </resultMap>

    <sql id="selectJaloLoanUsageTableVo">
        select id, create_time, update_time, loan_credit_amount, loan_credit_balance from jalo_loan_usage_table
    </sql>

    <select id="selectJaloLoanUsageTableList" parameterType="JaloLoanUsageTable" resultMap="JaloLoanUsageTableResult">
        <include refid="selectJaloLoanUsageTableVo"/>
        <where>  
            <if test="loanCreditAmount != null "> and loan_credit_amount = #{loanCreditAmount}</if>
            <if test="loanCreditBalance != null "> and loan_credit_balance = #{loanCreditBalance}</if>
        </where>
    </select>
    
    <select id="selectJaloLoanUsageTableById" parameterType="Long" resultMap="JaloLoanUsageTableResult">
        <include refid="selectJaloLoanUsageTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloLoanUsageTable" parameterType="JaloLoanUsageTable" useGeneratedKeys="true" keyProperty="id">
        insert into jalo_loan_usage_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="loanCreditAmount != null">loan_credit_amount,</if>
            <if test="loanCreditBalance != null">loan_credit_balance,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="loanCreditAmount != null">#{loanCreditAmount},</if>
            <if test="loanCreditBalance != null">#{loanCreditBalance},</if>
         </trim>
    </insert>

    <update id="updateJaloLoanUsageTable" parameterType="JaloLoanUsageTable">
        update jalo_loan_usage_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="loanCreditAmount != null">loan_credit_amount = #{loanCreditAmount},</if>
            <if test="loanCreditBalance != null">loan_credit_balance = #{loanCreditBalance},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloLoanUsageTableById" parameterType="Long">
        delete from jalo_loan_usage_table where id = #{id}
    </delete>

    <delete id="deleteJaloLoanUsageTableByIds" parameterType="String">
        delete from jalo_loan_usage_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>