<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JaloGoodsTransitDetailMapper">
    
    <resultMap type="JaloGoodsTransitDetail" id="JaloGoodsTransitDetailResult">
        <result property="id"    column="id"    />
        <result property="product"    column="product"    />
        <result property="support"    column="support"    />
        <result property="purchaseOrderNumber"    column="purchase_order_number"    />
        <result property="num"    column="num"    />
        <result property="amount"    column="amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="JaloGoodsTransitSumDetail" id="JaloGoodsTransitDetailSumResult">
        <result property="sumamount"    column="sumamount"    />
        <result property="sumnum"    column="sumnum"    />
    </resultMap>

    <sql id="selectJaloGoodsTransitDetailVo">
        select id, product, support, purchase_order_number, num, amount ,  create_time, update_time from jalo_goods_transit_detail
    </sql>

    <sql id="selectJaloGoodsTransitDetaiSumlVo">
        select  sum(num) as sumnum , sum(amount) as sumamount  from jalo_goods_transit_detail
    </sql>

    <select id="selectJaloGoodsTransitDetailList" parameterType="JaloGoodsTransitDetail" resultMap="JaloGoodsTransitDetailResult">
        <include refid="selectJaloGoodsTransitDetailVo"/>
        <where>  
            <if test="product != null  and product != ''"> and product = #{product}</if>
            <if test="support != null  and support != ''"> and support = #{support}</if>
            <if test="purchaseOrderNumber != null  and purchaseOrderNumber != ''"> and purchase_order_number = #{purchaseOrderNumber}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="param != null "> and ( support like concat('%',#{param} ,'%' )  or  product  like concat('%',#{param} ,'%' )  or purchase_order_number like concat('%',#{param} ,'%' ) )</if>
        </where>

        ORDER BY update_time DESC

    </select>

    <select id="selectJaloGoodsTransitDetailSum"  resultMap="JaloGoodsTransitDetailSumResult">
        <include refid="selectJaloGoodsTransitDetaiSumlVo"/>
    </select>

    <select id="selectJaloGoodsTransitDetailListByTransitSumId" parameterType="String" resultMap="JaloGoodsTransitDetailResult">
        <include refid="selectJaloGoodsTransitDetailVo"/>
        where jalo_goods_transit_sum_id = #{jaloTransitSumId} order by order_number asc
    </select>

    <select id="selectJaloGoodsTransitDetailById" parameterType="String" resultMap="JaloGoodsTransitDetailResult">
        <include refid="selectJaloGoodsTransitDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJaloGoodsTransitDetail" parameterType="JaloGoodsTransitDetail">
        insert into jalo_goods_transit_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="product != null">product,</if>
            <if test="support != null">support,</if>
            <if test="purchaseOrderNumber != null">purchase_order_number,</if>
            <if test="num != null">num,</if>
            <if test="amount != null">amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="product != null">#{product},</if>
            <if test="support != null">#{support},</if>
            <if test="purchaseOrderNumber != null">#{purchaseOrderNumber},</if>
            <if test="num != null">#{num},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJaloGoodsTransitDetail" parameterType="JaloGoodsTransitDetail">
        update jalo_goods_transit_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="product != null">product = #{product},</if>
            <if test="support != null">support = #{support},</if>
            <if test="purchaseOrderNumber != null">purchase_order_number = #{purchaseOrderNumber},</if>
            <if test="num != null">num = #{num},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJaloGoodsTransitDetailById" parameterType="String">
        delete from jalo_goods_transit_detail where id = #{id}
    </delete>

    <delete id="deleteJaloGoodsTransitDetailByIds" parameterType="String">
        delete from jalo_goods_transit_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>